<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classroom Copy | About Us</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

</head>

<body>
    <!--Header Starts Here-->
    <header>
        <nav class="py-1 top-bar border-bottom ">

            <div class="container navbar navbar-expand-lg py-0 d-flex flex-wrap">
                <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none "><img src="images/logo.png" class="img-fluid mr-3 logo" alt="Classroom-logo"></a>
                <button class="navbar-toggler mytoggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mytoggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse fade" id="navbarsExample09"> 
                    <ul class="nav top-links ms-auto">
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-heart px-2"></i> Wishlist</a></li>
                        <li class="nav-item"><a href="#" class="nav-link border-start link-light px-3"><i
                  class="fal fa-shopping-cart px-2  position-relative"> <span
                    class="cart-item position-absolute top-25 left-0 translate-middle bg-danger border border-light rounded-circle">1</span></i>
                My Cart</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="images/profile-pic.jpg" class="img-fluid rounded-circle  me-1" alt="profile-pic">
                                <i class='fal fa-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light mt-0 pb-5 pt-0 ">
                                <li class="py-2 mb-3"><a class="dropdown-item blue" href="#"><i
                                    class="fal fa-user px-2"></i> Account</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i
                                    class="fal fa-chevron-right px-2"></i> Account Dashboard</a></li>
                                <li><a class="dropdown-item" href="#"><i
                                    class="fal fa-chevron-right px-2"></i> Store Dashboard</a></li>

                                <li class="nav-item login"><a href="#" class="nav-link bg-blue text-white px-3 btn btn-lg text-uppercase py-2 mx-4 mt-3 fw-bold login-btn">Log out</a></li>

                            </ul>
                        </li>


                    </ul>

                </div>
            </div>
        </nav>
        <div class="container-fluid py-3 mb-3 border-bottom">
            <div class="container middle-search-section pb-2">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                        <ul class="d-flex flex-row justify-content-end menu-links mb-2 mb-lg-0 ">
                            <li class="nav-item"><a href="#" class="nav-link">Become a Seller </a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Gift Cards</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
                        </ul>


                    </div>
                    <div class="col-12 col-sm-12 col-md-5">

                        <form>
                            <div class="search"> <input type="text" class="form-control" placeholder="Search"> <button class="btn-hover"> <i class="fa fa-search"></i></button> </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
        <div class="container-fluid pb-3 d-flex flex-wrap justify-content-center border-bottom">
            <div class="container  bottom-select-section">
                <form class="row g-3 align-items-center">
                    <div class="col-12 col-sm-6 col-md-6  w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Language</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Grade</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Subject</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Price</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Type</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Format</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>

                    <div class="col-auto search-btn">
                        <button type="submit" class="btn text-uppercase btn-hover">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="b-example-divider"></div>
    <!--Header Section Ends Here-->


    <!--Breadcrub Section Starts Here-->
    <section class="breadcrumb-section bg-light-blue pt-2">
        <div class="container py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class='fal fa-home-alt'></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>

    </section>
    <!--Breadcrub Section Ends Here-->

    <!--Main Banner Section Starts Here-->
    <section class="hero-section about-us  py-5">
        <div class="container">
            <div class="row flex-lg-row-reverse align-items-start g-4">
                <div class="col-12 col-sm-12 col-lg-6 ">
                    <img src="images/about.jpg" class="d-block mx-lg-auto img-fluid" alt="about-img">
                </div>
                <div class="col-lg-6 col-sm-12 my-0 py-4">
                    <h1 class="display-5 fw-bold lh-1 mb-3 text-uppercase d-flex flex-column">Our Story<br><span class="blue display-5 fw-bold">Who We are </span></h1>
                    <p class="lead">Classroom Copy is guided by four principles: customer service, passion for creation, commitment to excellence, and educator inspiration. Founded in 2022, Classroom Copy strives to provide a platform for educators to distribute electronic
                        resources whilst offering the highest percentage on sales compared with similar platforms. This translates to educators supporting educators.
                    </p>

                </div>
            </div>
        </div>
    </section>

    </div>
    <!--Main Banner Section Ends Here-->



    <!--Content Section Starts Here-->
    <section class="books-section content-section pb-5">
        <div class="container text-center">
            <div class="row">
                <h2 class="text-uppercase pt-2 pb-5"><span class="border px-5 py-2">OUR MISSION </span></h2>
                <p>To provide a platform for educators to buy and sell original educational resources with greater profits going to the creators.</p>
            </div>

            <div class="row">
                <h2 class="text-uppercase py-5"><span class="border px-5 py-2">OUR VISION </span></h2>
                <p>To be the number one global destination for discovering great value and unique educational resources.</p>
            </div>
        </div>
    </section>
    <!--Content Section Ends Here-->

    <section class="testimonial-section aboutus-bg py-5">
        <div class="container">
            <div class="row">
                <h3 class="text-uppercase py-4 pb-5"><span class="heading border px-5 py-2">FOUNDING STORY</span></h3>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-4 kristen-pic">
                    <img src="images/Kristen.jpg" class="img-fluid" alt="Kristen">

                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 px-5">
                    <p class="pb-4">Classroom Copy was founded by Kristen Timoteo, a public school teacher who experienced first hand the hours of work that would go into creating resources for use both in the classroom and wider school community. </p>
                    <p class="pb-4">After putting her resources on other marketplaces to make some additional income, she was shocked to see just how little she actually received from the sale of her products after website commissions were taken out. </p>
                    <p class="pb-4">This inspired her to create Classroom Copy, a place where any educator can find essential resources, collaboration, and inspiration whilst supporting their fellow educators.</p>
                </div>
            </div>


        </div>


    </section>





    <!--Footer Section Starts Here-->

    <section class="footer-section">
        <div class="container">
            <footer class="row row-cols-5 py-5 my-5">
                <div class="col-12 col-sm-12 col-md-4 pb-3">
                    <a href="index.html" class="d-flex align-items-center">
                        <img src="images/footer-logo.png" class="img-fluid mr-3" alt="Classroom-footer-logo">
                    </a>
                </div>



                <div class="col-12 col-sm-12 col-md-2 pb-3">
                    <h5 class="border-start ps-4">About Us</h5>
                    <ul class="nav flex-column footer-links ms-4 mt-3">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Who We Are</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Blog</a></li>

                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-3 pb-3">
                    <h5 class="border-start ps-4">Support</h5>
                    <ul class="nav flex-column footer-links ms-4 mt-3">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Help and FAQ</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Documents and Policies</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Forms</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Contact Us</a></li>

                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-3">
                    <h5 class="border-start ps-4">Keep in Touch</h5>
                    <ul class="nav flex-column mt-3">
                        <li class="nav-item mb-2">
                            <p>Sign up to get free resources, updates and special offers.</p>
                        </li>
                        <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-dark"><button type="button"
                  class="btn-hover btn btn-primary sign-up bg-blue btn-lg px-4 my-2 me-md-2 text-uppercase">Sign up
                  now</button></a>
                        </li>

                    </ul>
                </div>

            </footer>
        </div>
        <div class="bg-dark text-center">
            <p class=" text-white py-3 mb-0">&copy; 2022 - Classroom Copy. All rights reserved.</p>
        </div>
    </section>

    <!--Footer Section Ends Here-->
    <button type="button" class="btn bg-blue btn-floating btn-lg topbtn" id="toTopBtn">
      <i class="fas fa-arrow-up text-white"></i>
    </button>


    <!-- Separate Popper and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>

</html>