<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classroom Copy</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css"-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.jpg" type="image/jpg"> 
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

</head>

<body>
    <!--Header Starts Here-->
    <header>
        <nav class="py-1 top-bar border-bottom ">

            <div class="container navbar navbar-expand-lg py-0 d-flex flex-wrap">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none "><img src="images/logo.png" class="img-fluid mr-3 logo" alt="Classroom-logo"></a>
                <button class="navbar-toggler mytoggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mytoggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse fade" id="navbarsExample09">
                    <ul class="nav top-links ms-auto">
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-heart px-2"></i> Wishlist</a></li>
                        <li class="nav-item"><a href="#" class="nav-link border-start link-light px-3"><i
                  class="fal fa-shopping-cart px-2  position-relative"> <span
                    class="cart-item position-absolute top-25 left-0 translate-middle bg-danger border border-light rounded-circle">1</span></i>
                My Cart</a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-user px-2"></i>Join Us - Free</a></li>

                    </ul>
                    <ul class="nav login">
                        <li class="nav-item"><a href="#" class="nav-link link blue px-3 btn btn-light text-uppercase py-1 my-1 fw-bold login-btn">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid py-3 mb-3 border-bottom">
            <div class="container middle-search-section pb-2">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                        <ul class="d-flex flex-row justify-content-end menu-links mb-2 mb-lg-0 ">
                            <li class="nav-item"><a href="#" class="nav-link">Become a Seller </a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Gift Cards</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
                        </ul>


                    </div>
                    <div class="col-12 col-sm-12 col-md-5">

                        <form>
                            <div class="search"> <input type="text" class="form-control" placeholder="Search"> <button class="btn-hover"> <i class="fa fa-search"></i></button> </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
        <div class="container-fluid pb-3 d-flex flex-wrap justify-content-center border-bottom">
            <div class="container  bottom-select-section">
                <form class="row g-3 align-items-center">
                    <div class="col-12 col-sm-6 col-md-6  w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Language</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Grade</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Subject</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Price</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Type</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Format</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>

                    <div class="col-auto search-btn">
                        <button type="submit" class="btn  text-uppercase btn-hover">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="b-example-divider"></div>
    <!--Header Section Ends Here-->


    <!--Main Banner Section Starts Here-->
    <section class="hero-section">
        <div class="container py-5">
            <div class="row flex-lg-row-reverse align-items-center g-4">
                <div class="col-12 col-sm-12 col-lg-6 pt-2  mb-3">
                    <img src="images/hero-img.jpg" class="d-block mx-lg-auto img-fluid" alt="hero-img">
                </div>
                <div class="col-lg-6 col-sm-12 my-0">
                    <h1 class="display-5 fw-bold lh-1 mb-3 d-flex flex-column">Your world of <br><span class="blue display-5 fw-bold">Educational
              Resources</span></h1>
                    <p class="lead">Classroom Copy is an online marketplace for original resources created by teachers for teachers.
                    </p>
                    <p class="blue fw-bold">Inspiration is only a click away!</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary bg-blue btn-lg px-4 my-4 me-md-2 btn-hover text-uppercase">Join
              free now</button>
                    </div>
                </div>
            </div>
    </section>

    <!--</div>-->
    <!--Main Banner Section Ends Here-->

    <!--Slider Section Starts Here-->

    <section class="slider-section">

        <div class="container pb-5">
            <div class="row">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/slide-1.jpg" class="d-block w-100 img-fluid" alt="slide-1">
                            <div class="carousel-caption d-block d-md-block">
                                <h1 class="blue">BECOME A SELLER</h1>
                                <p class="lead">Start selling today to receive 100% on all sales.</p>
                                <h6 class="blue text-uppercase condition-apply">Conditions apply</h6>
                                <button type="button" class="find-out-more btn btn-primary bg-blue btn-lg px-4 my-3 me-md-2 text-uppercase btn-hover">Find
                  Out More</button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/slide-1.jpg" class="d-block w-100 img-fluid" alt="slide-1">
                            <div class="carousel-caption d-block d-md-block">
                                <h1 class="blue">BECOME A SELLER</h1>
                                <p class="lead">Start selling today to receive 100% on all sales.</p>
                                <h6 class="blue text-uppercase condition-apply">Conditions apply</h6>
                                <button type="button" class="find-out-more btn btn-primary bg-blue btn-lg px-4 my-3 me-md-2 text-uppercase btn-hover">Find
                  Out More</button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/slide-1.jpg" class="d-block w-100 img-fluid" alt="slide-1">
                            <div class="carousel-caption d-block d-md-block">
                                <h1 class="blue">BECOME A SELLER</h1>
                                <p class="lead">Start selling today to receive 100% on all sales.</p>
                                <h6 class="blue text-uppercase condition-apply">Conditions apply</h6>
                                <button type="button" class="find-out-more btn btn-primary bg-blue btn-lg px-4 my-3 me-md-2 text-uppercase btn-hover">Find
                  Out More</button>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <i class="fal fa-angle-left fa-2x"></i>
          </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <i class="fal fa-angle-right fa-2x"></i>
          </button>
                </div>
            </div>
        </div>

    </section>
    <!--Slider Section Ends Here-->

    <!--Content Section Starts Here-->
    <section class="books-section pb-5">
        <div class="container">
            <div class="row">
                <h2 class="text-uppercase py-5"><span class="border px-5 py-2">Resources you may like</span></h2>
                <div class="col-6 col-sm-6 col-lg-3">
                    <div class="box position-relative"><img src="images/Book-1.jpg" class="img-fluid" alt="Book-1">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute">
                            <li class="mx-2"><a href="#"><i class="fal fa-heart bg-white rounded-circle p-2"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fal fa-shopping-cart bg-white rounded-circle p-2"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fal fa-search bg-white rounded-circle p-2"></i></a></li>
                            </li>
                        </ul>
                    </div>
                    <p class="pt-4 fw-bold mb-0">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0">$ 8.50</span>
                    <span class="price-line-through p-0">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fal fa-star'></i></a></li>
                    </ul>

                </div>
                <div class="col-6 col-sm-6 col-lg-3">
                    <div class="box  position-relative">
                        <span class="sale position-absolute top-0 left-100 translate-middle badge btn btn-danger bg-danger">SALE</span>
                        <img src="images/Book-2.jpg" class="img-fluid" alt="Book-2">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute">
                            <li class="mx-2"><a href="#"><i class="fal fa-heart bg-white rounded-circle p-2"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fal fa-shopping-cart bg-white rounded-circle p-2"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fal fa-search bg-white rounded-circle p-2"></i></a></li>
                            </li>
                        </ul>
                    </div>
                    <p class="pt-4 fw-bold mb-0">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0">$ 8.50</span>
                    <span class="price-line-through p-0">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fal fa-star'></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-lg-3">
                    <div class="box position-relative"><img src="images/Book-3.jpg" class="img-fluid" alt="Book-3">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute">
                            <li class="mx-2"><a href="#"><i class="fal fa-heart bg-white rounded-circle p-2"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fal fa-shopping-cart bg-white rounded-circle p-2"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fal fa-search bg-white rounded-circle p-2"></i></a></li>
                            </li>
                        </ul>

                    </div>
                    <p class="pt-4 fw-bold mb-0">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0">$ 8.50</span>
                    <span class="price-line-through p-0">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fal fa-star'></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-lg-3">
                    <div class="box  position-relative">
                        <span class="sale position-absolute top-0 left-100 translate-middle badge btn btn-danger bg-danger">SALE</span>
                        <img src="images/Book-4.jpg" class="img-fluid" alt="Book-4">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute">
                            <li class="mx-2"><a href="#"><i class="fal fa-heart bg-white rounded-circle p-2"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fal fa-shopping-cart bg-white rounded-circle p-2"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fal fa-search bg-white rounded-circle p-2"></i></a></li>
                            </li>
                        </ul>
                    </div>
                    <p class="pt-4 fw-bold mb-0">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0">$ 8.50</span>
                    <span class="price-line-through p-0">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fas fa-star'></i></a></li>
                        <li><a href="#"><i class='fal fa-star'></i></a></li>
                    </ul>
                </div>
                <div class="text-center col-12"><button type="button" class="btn btn-primary bg-blue btn-lg px-4 my-5 me-md-2 text-uppercase btn-hover">View More</button> </div>
      </div>

      <div class="row">
        <h2 class="text-uppercase py-5"><span class="border px-5 py-2">Top Sellers</span></h2>
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="box  position-relative"><span class="sale position-absolute top-0 left-100 translate-middle badge btn btn-danger bg-danger">SALE</span>
              <img src="images/Book-5.jpg" class="img-fluid" alt="Book-5">
              <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute">
                <li class="mx-2"><a href="#"><i class="fal fa-heart bg-white rounded-circle p-2"></i></a></li>
                <li class="mx-2"><a href="#"><i class="fal fa-shopping-cart bg-white rounded-circle p-2"></i></a></li>
                <li class="mx-2"><a href="#"><i class="fal fa-search bg-white rounded-circle p-2"></i></a></li>
                </li>
            </ul>
            
            
            </div>
          <p class="pt-4 fw-bold mb-0">Sample Distance Learning Education Goals</p>
          <span class="d-inline-block price py-2 px-0">$ 8.50</span>
          <span class="price-line-through p-0">$ 11.90</span>
          <ul class="rating d-flex flex-row justify-content-start ps-0 ">
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fal fa-star'></i></a></li>
          </ul>

        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="box position-relative"><img src="images/Book-6.jpg" class="img-fluid" alt="Book-6">
            <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute">
              <li class="mx-2"><a href="#"><i class="fal fa-heart bg-white rounded-circle p-2"></i></a></li>
              <li class="mx-2"><a href="#"><i class="fal fa-shopping-cart bg-white rounded-circle p-2"></i></a></li>
              <li class="mx-2"><a href="#"><i class="fal fa-search bg-white rounded-circle p-2"></i></a></li>
              </li>
          </ul>
          
          
          </div>
          <p class="pt-4 fw-bold mb-0">Sample Distance Learning Education Goals</p>
          <span class="d-inline-block price py-2 px-0">$ 8.50</span>
          <span class="price-line-through p-0">$ 11.90</span>
          <ul class="rating d-flex flex-row justify-content-start ps-0 ">
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fal fa-star'></i></a></li>
          </ul>

        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="box position-relative"><span
              class="sale position-absolute top-0 left-100 translate-middle badge btn btn-danger bg-danger">SALE</span>
              <img src="images/Book-7.jpg" class="img-fluid" alt="Book-7">
              <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute">
                <li class="mx-2"><a href="#"><i class="fal fa-heart bg-white rounded-circle p-2"></i></a></li>
                <li class="mx-2"><a href="#"><i class="fal fa-shopping-cart bg-white rounded-circle p-2"></i></a></li>
                <li class="mx-2"><a href="#"><i class="fal fa-search bg-white rounded-circle p-2"></i></a></li>
                </li>
            </ul>
            
            
            </div>
          <p class="pt-4 fw-bold mb-0">Sample Distance Learning Education Goals</p>
          <span class="d-inline-block price py-2 px-0">$ 8.50</span>
          <span class="price-line-through p-0">$ 11.90</span>
          <ul class="rating d-flex flex-row justify-content-start ps-0 ">
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fal fa-star'></i></a></li>
          </ul>

        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <div class="box position-relative"><img src="images/Book-8.jpg" class="img-fluid" alt="Book-8">
            <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute">
              <li class="mx-2"><a href="#"><i class="fal fa-heart bg-white rounded-circle p-2"></i></a></li>
              <li class="mx-2"><a href="#"><i class="fal fa-shopping-cart bg-white rounded-circle p-2"></i></a></li>
              <li class="mx-2"><a href="#"><i class="fal fa-search bg-white rounded-circle p-2"></i></a></li>
              </li>
          </ul>
          
          
          </div>
          <p class="pt-4 fw-bold mb-0">Sample Distance Learning Education Goals</p>
          <span class="d-inline-block price py-2 px-0">$ 8.50</span>
          <span class="price-line-through p-0">$ 11.90</span>
          <ul class="rating d-flex flex-row justify-content-start ps-0 ">
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fas fa-star'></i></a></li>
            <li><a href="#"><i class='fal fa-star'></i></a></li>
          </ul>

        </div>
        <div class="text-center col-12"><button type="button" class="btn btn-primary bg-blue btn-lg px-4 my-5 me-md-2 text-uppercase btn-hover">View More</button> </div>
      </div>
    </div>
  </section>
  <!--Content Section Ends Here-->

  <!--Testimonial Section Starts Here-->

  <section class="testimonial-section py-4">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 offset-lg-2">
          <h3 class="text-uppercase pt-5 pb-3"><span class="heading border px-5 py-2">Testimonial</span></h3>
          <div id="testimonial-slider" class="owl-carousel">
            <div class="testimonial">
              <i class="fal fa-quote-left fa-4x pr-5 text-white float-start"></i>
              <p class="description px-5 pt-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </p>
              <h4 class="title">ALICE JAMES </h4>

            </div>
            <div class="testimonial">
              <i class="fal fa-quote-left fa-4x pr-5 text-white float-start"></i>
              <p class="description px-5 pt-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </p>
              <h4 class="title">JOHN MATHEW </h4>

            </div>
            <div class="testimonial">
              <i class="fal fa-quote-left fa-4x pr-5 text-white float-start"></i>
              <p class="description px-5 pt-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </p>
              <h4 class="title">MICHAEL JAMES </h4>

            </div>
            <div class="testimonial">
              <i class="fal fa-quote-left fa-4x pr-5 text-white float-start"></i>
              <p class="description px-5 pt-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </p>
              <h4 class="title">EMILLY JACKSON</h4>

            </div>


          </div>
        </div>
      </div>
    </div>

  </section>

  <!--Testimonial Section Ends Here-->



  <!--Footer Section Starts Here-->

  <section class="footer-section">
    <div class="container">
      <footer class="row row-cols-5 py-5 my-5">
        <div class="col-12 col-sm-12 col-md-4 pb-3">
          <a href="#" class="d-flex align-items-center">
            <img src="images/footer-logo.png" class="img-fluid mr-3" alt="Classroom-footer-logo">
          </a>
        </div>



        <div class="col-12 col-sm-12 col-md-2 pb-3">
          <h5 class="border-start ps-4">About Us</h5>
          <ul class="nav flex-column footer-links ms-4 mt-3">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Who We Are</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Blog</a></li>

          </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-3 pb-3">
          <h5 class="border-start ps-4">Support</h5>
          <ul class="nav flex-column footer-links ms-4 mt-3">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Help and FAQ</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Documents and Policies</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Forms</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Contact Us</a></li>

          </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-3">
          <h5 class="border-start ps-4">Keep in Touch</h5>
          <ul class="nav flex-column mt-3">
            <li class="nav-item mb-2">
              <p>Sign up to get free resources, updates and special offers.</p>
            </li>
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-dark"><button type="button"
                  class="btn-hover btn btn-primary sign-up bg-blue btn-lg px-4 my-2 me-md-2 text-uppercase">Sign up
                  now</button></a>
                    </li>

                    </ul>
                </div>

                </footer>
            </div>
            <div class="bg-dark text-center">
                <p class=" text-white py-3 mb-0">&copy; 2022 - Classroom Copy. All rights reserved.</p>
            </div>
    </section>

    <!--Footer Section Ends Here-->
    <button type="button" class="btn bg-blue btn-floating btn-lg topbtn" id="toTopBtn">
      <i class="fas fa-arrow-up text-white"></i>
    </button>


    <!-- Separate Popper and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#testimonial-slider").owlCarousel({
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
                pagination: true,
                navigation: false,
                navigationText: ["", ""],
                slideSpeed: 1000,
                autoPlay: true
            });

            // Back to Top Button

            $(window).scroll(function() {
                if ($(this).scrollTop() > 20) {
                    $('#toTopBtn').fadeIn();
                } else {
                    $('#toTopBtn').fadeOut();
                }
            });

            $('#toTopBtn').click(function() {
                $("html, body").animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
        });
    </script>
</body>

</html>