<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classroom Copy | My Profile</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

</head>

<body>
    <!--Header Starts Here-->
    <header>
        <nav class="py-1 top-bar border-bottom ">

            <div class="container navbar navbar-expand-lg py-0 d-flex flex-wrap">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none "><img src="images/logo.png" class="img-fluid mr-3 logo" alt="Classroom-logo"></a>
                <button class="navbar-toggler mytoggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mytoggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse fade" id="navbarsExample09">
                    <ul class="nav top-links ms-auto">
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-heart px-2"></i> Wishlist</a></li>
                        <li class="nav-item"><a href="#" class="nav-link border-start link-light px-3"><i
                  class="fal fa-shopping-cart px-2  position-relative"> <span
                    class="cart-item position-absolute top-25 left-0 translate-middle bg-danger border border-light rounded-circle">1</span></i>
                My Cart</a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-user px-2"></i>Join Us - Free</a></li>

                    </ul>
                    <ul class="nav login">
                        <li class="nav-item"><a href="#" class="nav-link link blue px-3 btn btn-light text-uppercase py-1 my-1 fw-bold login-btn">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid py-3 mb-3 border-bottom">
            <div class="container middle-search-section pb-2">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                        <ul class="d-flex flex-row justify-content-end menu-links mb-2 mb-lg-0 ">
                            <li class="nav-item"><a href="#" class="nav-link">Become a Seller </a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Gift Cards</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
                        </ul>


                    </div>
                    <div class="col-12 col-sm-12 col-md-5">

                        <form>
                            <div class="search"> <input type="text" class="form-control" placeholder="Search"> <button class="btn-hover"> <i class="fa fa-search"></i></button> </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
        <div class="container-fluid pb-3 d-flex flex-wrap justify-content-center border-bottom">
            <div class="container  bottom-select-section">
                <form class="row g-3 align-items-center">
                    <div class="col-12 col-sm-6 col-md-6  w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Language</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Grade</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Subject</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Price</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Type</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Format</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>

                    <div class="col-auto search-btn">
                        <button type="submit" class="btn text-uppercase btn-hover">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="b-example-divider"></div>
    <!--Header Section Ends Here-->


    <!--Breadcrub Section Starts Here-->
    <section class="breadcrumb-section bg-light-blue pt-2">
        <div class="container py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="index.html"><i class='fal fa-home-alt'></i> Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">Account Dashboard</li>
                    <li class="breadcrumb-item" aria-current="page">My Profile</li>

                </ol>
            </nav>
        </div>

    </section>
    <!--Breadcrub Section Ends Here-->

    <!--My Profile Section Starts Here-->
    <section class="my_profile-section pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12  col-sm-12 col-md-8 col-lg-8 py-4">
                    <h1 class="text-uppercase py-3"> My Profile</h1>
                    <div class="position-relative profile-pic-box mb-5">
                        <img src="images/myprofile-pic.jpg" class="img-fluid rounded-circle" alt="myprofile-pic">
                        <div class="profile-pic-icon position-absolute  ">
                            <a href="#"><img src="images/camera-icon.png " alt="camera-icon " class="img-fluid "></a>
                        </div>
                    </div>


                    <div class="row mb-4 ">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 ">
                            <label class="form-label fw-bold "> Username :  </label>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 ">
                            <label class="form-label text-muted "> Kristen</label>
                        </div>
                    </div>

                    <div class="row mb-4 ">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 ">
                            <label class="form-label fw-bold float-start "> Name : </label>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 ">
                            <label class="form-label text-muted "> Kristen Timoteo <a href="# "><i class='fal fa-pencil fa-xs blue px-4' ></i></a></label>
                        </div>
                    </div>

                    <div class="row mb-4 ">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 ">
                            <label class="form-label fw-bold float-start "> Address:</label>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 ">
                            <label class="form-label text-muted "> 16 Larwon Terrace
                                Southport  4215<br>
                               Queensland
                                Australia <a href="# "><i class='fal fa-pencil fa-xs blue px-2' ></i></a></label>
                        </div>
                    </div>
                    <div class="row mb-4 ">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 ">
                            <label class="form-label fw-bold float-start "> Phone:  </label>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 ">
                            <label class="form-label text-muted "> (+61) 0423 777 159 <a href="# "><i class='fal fa-pencil fa-xs blue px-4' ></i></a></label>
                        </div>
                    </div>
                    <div class="row mb-4 ">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 ">
                            <label class="form-label fw-bold float-start "> Email:</label>
                        </div>


                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 ">
                            <label class="form-label text-muted "> kristentimoteo@hotmail.com <a href="# "><i class='fal fa-pencil fa-xs blue px-2' ></i></a></label>
                        </div>
                    </div>
                    <div class="row mb-4 ">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 ">
                            <label class="form-label fw-bold float-start "> Password:</label>
                        </div>


                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 ">
                            <label class="form-label text-muted "> * * * * * * * * <a href="# " data-bs-toggle="modal" data-bs-target="#exampleModal"><i class='fal fa-pencil fa-xs blue px-4' ></i></a></label>
                        </div>
                    </div>
                    <!--Change Password Pop Up Starts Here-->


                    <!-- Modal -->
                    <div class="modal change-pwd" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="text-end pt-3 pe-3">
                                    <button type="button" class=" blue  border-0 fs-2 rounded-circle px-3 " data-bs-dismiss="modal" aria-label="Close">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <div class="row ">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6"><img src="images/change-pwd-pic.jpg" class="img-fluid" alt="change-pwd-pic"></div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                            <h1 class="modal-title text-uppercase pt-4 pb-3" id="exampleModalLabel">Change Password</h1>
                                            <form>
                                                <div class="mb-3">
                                                    <label for="currentPassword" class="form-label">Current Password</label>
                                                    <input type="password" class="form-control bg-light border" id="currentPassword">

                                                </div>
                                                <div class="mb-3">
                                                    <label for="newPassword" class="form-label">New Password</label>
                                                    <input type="password" class="form-control bg-light border" id="newPassword">
                                                    <small class="text-end blue w-100 float-end text-end py-2 pb-4"> Passwords are case sensitive</small>
                                                </div>

                                                <div class="my-3">
                                                    <label for="confirm-newPassword" class="form-label"> Confirm New Password</label>
                                                    <input type="password" class="form-control bg-light border" id="confirm-newPassword">
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit " class="btn btn-md bg-blue btn-hover btn-lg px-4 text-white text-uppercase my-2 ">Submit</button>
                                                </div>

                                            </form>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Change Password Pop Up Ends Here-->



                    <div class="row mb-4 ">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 ">
                            <label class="form-label fw-bold float-start "> Marketing:</label>
                        </div>


                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 ">


                            <div class="pb-3">
                                <label class="switch me-3">
                                    <input type="checkbox" class="">
                                    <span class="slider round bg-success border-success bg-opacity-50"></span>
                                  </label>

                                <label class="form-check-label" for="flexSwitchCheckChecked">Newsletter</label>
                            </div>

                            <div class="pb-3 ">
                                <label class="switch me-3">
                                    <input type="checkbox">
                                    <span class="slider round "></span>
                                  </label>
                                <label class="form-check-label text-muted " for="flexSwitchCheckDefault ">Recommendations</label>
                            </div>

                            <div class="pb-3 ">
                                <label class="switch me-3">
                                <input type="checkbox">
                                <span class="slider round "></span>
                              </label>
                                <label class="form-check-label text-muted " for="flexSwitchCheckDisabled ">Special Offers and Sales</label>
                            </div>
                            <div class="pb-3 ">
                                <label class="switch me-3">
                                    <input type="checkbox">
                                    <span class="slider round bg-success border-success bg-opacity-50"></span>
                                  </label>
                                <label class="form-check-label text-muted " for="flexSwitchCheckChecked ">Marketing from Favourite Sellers</label>
                            </div>
                            <div class="pb-3 ">
                                <label class="switch me-3">
                                    <input type="checkbox">
                                    <span class="slider round "></span>
                                  </label>
                                <label class="form-check-label text-muted " for="flexSwitchCheckCheckedDisabled ">Buyers Feedback (Sellers Only)</label>
                            </div>
                            <div class="pb-3 ">
                                <label class="switch me-3">
                                    <input type="checkbox">
                                    <span class="slider round bg-success border-success bg-opacity-50"></span>
                                  </label>
                                <label class="form-check-label text-muted " for="flexSwitchCheckChecked ">Sales Alerts (Sellers Only)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 ">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 ">
                            <label class="form-label fw-bold float-start "> Favourite Sellers:</label>
                        </div>


                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 d-flex flex-column align-items-start fav-sellers">
                            <label class="form-label mb-5 d-flex flex-row align-items-center "><img src="images/Brit.jpg " alt="Brit " class="img-fluid me-4 "><a href="# " class="text-muted float-start ">Brit Girl<span  class="px-5 "> <i class='fal fa-times-circle fa-lg blue' ></i></a></span></label>
                            <label class="form-label d-flex flex-row align-items-center "><img src="images/Kath.jpg " alt="Kath " class="img-fluid me-4 "><a href="# " class="text-muted float-start "> Kath Smith<span class="px-3 "><a href="# "><i class='fal fa-times-circle fa-lg blue ' ></i></a></span></label>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-sm-12 col-md-4 col-lg-4 pt-5 ">
                    <div class="text-end pb-5 my_purchase_history-right">
                        <a href="# " class="blue acc-dashboard "><img src="images/icon-1.png " class="img-fluid me-2 my-1 " alt=" ">Account Dashboard</a>
                    </div>
                    <div class="float-end mobile-user"><img src="images/mobile-user-pic.jpg " class="img-fluid " alt="mobile-user-pic "></div>
                </div>

            </div>

        </div>
    </section>

    <!--My Profile Section Ends Here-->



    <!--Footer Section Starts Here-->

    <section class="footer-section border-top ">
        <div class="container ">
            <footer class="row row-cols-5 py-5 my-5 ">
                <div class="col-12 col-sm-12 col-md-4 pb-3 ">
                    <a href="index.html " class="d-flex align-items-center ">
                        <img src="images/footer-logo.png " class="img-fluid mr-3 " alt="Classroom-footer-logo ">
                    </a>
                </div>



                <div class="col-12 col-sm-12 col-md-2 pb-3 ">
                    <h5 class="border-start ps-4 ">About Us</h5>
                    <ul class="nav flex-column footer-links ms-4 mt-3 ">
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Who We Are</a></li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Blog</a></li>

                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-3 pb-3 ">
                    <h5 class="border-start ps-4 ">Support</h5>
                    <ul class="nav flex-column footer-links ms-4 mt-3 ">
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Help and FAQ</a></li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Documents and Policies</a></li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Forms</a></li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Contact Us</a></li>

                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-3 ">
                    <h5 class="border-start ps-4 ">Keep in Touch</h5>
                    <ul class="nav flex-column mt-3 ">
                        <li class="nav-item mb-2 ">
                            <p>Sign up to get free resources, updates and special offers.</p>
                        </li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark "><button type="button "
                  class="btn-hover btn btn-primary sign-up bg-blue btn-lg px-4 my-2 me-md-2 text-uppercase ">Sign up
                  now</button></a>
                        </li>

                    </ul>
                </div>

            </footer>
        </div>
        <div class="bg-dark text-center ">
            <p class=" text-white py-3 mb-0 ">&copy; 2022 - Classroom Copy. All rights reserved.</p>
        </div>
    </section>

    <!--Footer Section Ends Here-->



    <!-- Separate Popper and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>

</body>

</html>