<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classroom Copy | Search Result</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css"-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

</head>

<body>
    <!--Header Starts Here-->
    <header>
        <nav class="py-1 top-bar border-bottom ">
            <div class="container navbar navbar-expand-lg py-0 d-flex flex-wrap">
                <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none "><img src="images/logo.png" class="img-fluid mr-3 logo" alt="Classroom-logo"></a>
                <button class="navbar-toggler mytoggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mytoggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse fade" id="navbarsExample09">
                    <ul class="nav top-links ms-auto">
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-heart px-2"></i> Wishlist</a></li>
                        <li class="nav-item"><a href="#" class="nav-link border-start link-light px-3"><i
                  class="fal fa-shopping-cart px-2  position-relative"> <span
                    class="cart-item position-absolute top-25 left-0 translate-middle bg-danger border border-light rounded-circle">1</span></i>
                My Cart</a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-user px-2"></i>Join Us - Free</a></li>

                    </ul>
                    <ul class="nav login">
                        <li class="nav-item"><a href="#" class="nav-link link blue px-3 btn btn-light text-uppercase py-1 my-1 fw-bold login-btn">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid py-3 mb-3 border-bottom">
            <div class="container middle-search-section pb-2">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                        <ul class="d-flex flex-row justify-content-end menu-links mb-2 mb-lg-0 ">
                            <li class="nav-item"><a href="#" class="nav-link">Become a Seller </a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Gift Cards</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
                        </ul>


                    </div>
                    <div class="col-12 col-sm-12 col-md-5">

                        <form>
                            <div class="search"> <input type="text" class="form-control" placeholder="Search"> <button class="btn-hover"> <i class="fa fa-search"></i></button> </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
        <div class="container-fluid pb-3 d-flex flex-wrap justify-content-center border-bottom">
            <div class="container  bottom-select-section">
                <form class="row g-3 align-items-center">
                    <div class="col-12 col-sm-6 col-md-6  w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Language</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Grade</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Subject</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Price</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Type</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Format</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>

                    <div class="col-auto search-btn">
                        <button type="submit" class="btn  text-uppercase btn-hover">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="b-example-divider"></div>
    <!--Header Section Ends Here-->
    <!--Breadcrub Section Starts Here-->
    <section class="breadcrumb-section bg-light-blue pt-2">
        <div class="container py-2">
            <p class="text-center">Search for resources using one or all the drop-down menu options. Alternatively, type your search requirements in the top search bar.</p>
        </div>
    </section>
    <!--Breadcrub Section Ends Here-->


    <!-- Search Section Starts Here-->
    <section class="books-section search-result pb-5">
        <div class="container py-4">
            <h1 class="text-uppercase py-4">Search Result</h1>

            <div class="row">
                <div class="col-12 col-sm-12 col-lg-9">
                    <div class="align-items-center pb-5">
                        <div class="total-result float-start col-12 col-sm-12 col-md-2 mb-3">2,300,000+ <span class="items blue">Items</span></div>
                        <div class="search-wrap col-12 col-sm-12 col-md-2 mb-3">
                            <input required class="search-field search-field-first bg-light" value="English">
                            <span class="search-clear text-end">x</span>
                        </div>
                        <div class="search-wrap col-12 col-sm-12 col-md-2 mb-3">
                            <input required class="search-field search-field-second bg-light" value="One">
                            <span class="search-clear-2 search-clear text-end">x</span>
                        </div>
                        <div class="search-wrap col-12 col-sm-12 col-md-2 mb-3">
                            <input required class="search-field search-field-third bg-light" value="PDF">
                            <span class="search-clear-3 search-clear text-end">x</span>
                        </div>
                        <div class="search-wrap col-12 col-sm-12 col-md-2 mb-3">
                            <input required class="search-field search-field-fourth bg-light" value="Mathematics">
                            <span class="search-clear-4 search-clear text-end">x</span>
                        </div>
                        <a href="#" class="blue text-decoration-underline ms-3 clear-all">Clear All</a>



                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 sortby-section">

                    
                      <span class="sort float-start py-1">SORT BY</span>
                      <ul class="navbar-nav download-report w-50 float-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle bg-light  px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Relevancy <i class='fal fa-chevron-down fa-1x py-1 fw-bold float-end'></i>
                                </a>
                            <ul class="dropdown-menu bg-light">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                            </ul>
                        </li>
                    </ul>
                       
                   
                </div>

            </div>

            <div class="row bg-light-blue p-5 ">
                <h4 class="text-uppercase pb-2 ">Sponsored</h4>
                <div class="col-6 col-sm-6 col-lg-3 ">
                    <div class="box position-relative "><img src="images/Book-spons-1.jpg " class="img-fluid " alt="Book-spons-1 ">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute ">
                            <li class="mx-2 "><a href="# "><i class="fal fa-heart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-shopping-cart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-search bg-white rounded-circle p-2 "></i></a></li>
                            </li>
                        </ul>
                    </div>
                    <p class="pt-4 fw-bold mb-0 ">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0 ">$ 8.50</span>
                    <span class="price-line-through p-0 ">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fal fa-star'></i></a></li>
                    </ul>

                </div>
                <div class="col-6 col-sm-6 col-lg-3 ">
                    <div class="box position-relative ">
                        <span class="sale position-absolute top-0 left-100 translate-middle badge btn btn-danger bg-danger ">SALE</span>
                        <img src="images/Book-2.jpg " class="img-fluid " alt="Book-2 ">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute ">
                            <li class="mx-2 "><a href="# "><i class="fal fa-heart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-shopping-cart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-search bg-white rounded-circle p-2 "></i></a></li>
                            </li>
                        </ul>
                    </div>
                    <p class="pt-4 fw-bold mb-0 ">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0 ">$ 8.50</span>
                    <span class="price-line-through p-0 ">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fal fa-star'></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-lg-3 ">
                    <div class="box position-relative "><img src="images/Book-spons-3.jpg " class="img-fluid " alt="Book-spons-3 ">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute ">
                            <li class="mx-2 "><a href="# "><i class="fal fa-heart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-shopping-cart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-search bg-white rounded-circle p-2 "></i></a></li>
                            </li>
                        </ul>

                    </div>
                    <p class="pt-4 fw-bold mb-0 ">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0 ">$ 8.50</span>
                    <span class="price-line-through p-0 ">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fal fa-star'></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-lg-3 ">
                    <div class="box position-relative ">
                        <span class="sale position-absolute top-0 left-100 translate-middle badge btn btn-danger bg-danger ">SALE</span>
                        <img src="images/Book-spons-4.jpg " class="img-fluid " alt="Book-spons-4 ">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute ">
                            <li class="mx-2 "><a href="# "><i class="fal fa-heart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-shopping-cart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-search bg-white rounded-circle p-2 "></i></a></li>
                            </li>
                        </ul>
                    </div>
                    <p class="pt-4 fw-bold mb-0 ">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0 ">$ 8.50</span>
                    <span class="price-line-through p-0 ">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fal fa-star'></i></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="container ">
            <div class="row ">
                <div class="col-6 col-sm-6 col-lg-3 ">
                    <div class="box position-relative "><span class="sale position-absolute top-0 left-100 translate-middle badge btn btn-danger bg-danger ">SALE</span>
                        <img src="images/Book-9.jpg " class="img-fluid " alt="Book-9 ">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute ">
                            <li class="mx-2 "><a href="# "><i class="fal fa-heart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-shopping-cart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-search bg-white rounded-circle p-2 "></i></a></li>
                            </li>
                        </ul>


                    </div>
                    <p class="pt-4 fw-bold mb-0 ">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0 ">$ 8.50</span>
                    <span class="price-line-through p-0 ">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fal fa-star'></i></a></li>
                    </ul>

                </div>
                <div class="col-6 col-sm-6 col-lg-3 ">
                    <div class="box position-relative "><img src="images/Book-10.jpg " class="img-fluid " alt="Book-10 ">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute ">
                            <li class="mx-2 "><a href="# "><i class="fal fa-heart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-shopping-cart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-search bg-white rounded-circle p-2 "></i></a></li>
                            </li>
                        </ul>


                    </div>
                    <p class="pt-4 fw-bold mb-0 ">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0 ">$ 8.50</span>
                    <span class="price-line-through p-0 ">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fal fa-star'></i></a></li>
                    </ul>

                </div>
                <div class="col-6 col-sm-6 col-lg-3 ">
                    <div class="box position-relative "><span class="sale position-absolute top-0 left-100 translate-middle badge btn btn-danger bg-danger ">SALE</span>
                        <img src="images/Book-11.jpg " class="img-fluid " alt="Book-11 ">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute ">
                            <li class="mx-2 "><a href="# "><i class="fal fa-heart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-shopping-cart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-search bg-white rounded-circle p-2 "></i></a></li>
                            </li>
                        </ul>


                    </div>
                    <p class="pt-4 fw-bold mb-0 ">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0 ">$ 8.50</span>
                    <span class="price-line-through p-0 ">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fal fa-star'></i></a></li>
                    </ul>

                </div>
                <div class="col-6 col-sm-6 col-lg-3 ">
                    <div class="box position-relative "><img src="images/Book-12.jpg " class="img-fluid " alt="Book-12 ">
                        <ul class="icon-list d-flex flex-row list-unstyled align-items-center justify-content-center bottom-0 start-50 end-50 position-absolute ">
                            <li class="mx-2 "><a href="# "><i class="fal fa-heart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-shopping-cart bg-white rounded-circle p-2 "></i></a></li>
                            <li class="mx-2 "><a href="# "><i class="fal fa-search bg-white rounded-circle p-2 "></i></a></li>
                            </li>
                        </ul>


                    </div>
                    <p class="pt-4 fw-bold mb-0 ">Sample Distance Learning Education Goals</p>
                    <span class="d-inline-block price py-2 px-0 ">$ 8.50</span>
                    <span class="price-line-through p-0 ">$ 11.90</span>
                    <ul class="rating d-flex flex-row justify-content-start ps-0 ">
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fas fa-star'></i></a></li>
                        <li><a href="# "><i class='fal fa-star'></i></a></li>
                    </ul>

                </div>
                <div class="text-center col-12 "><button type="button " class="btn btn-primary bg-blue btn-lg px-4 my-5 me-md-2 text-uppercase btn-hover ">View More </div>
                  <div class="d-flex justify-content-center ">
                    <ul class="pagination ">
                      <li class="page-item ">
                        <a class="page-link " href="# " aria-label="Previous ">
                          <i class="fal fa-chevron-left px-2 "></i>
                        </a>
                      </li>
                      <li class="page-item "><a class="page-link " href="# ">1</a></li>
                      <li class="page-item "><a class="page-link " href="# ">2</a></li>
                      <li class="page-item "><a class="page-link " href="# ">3</a></li>
                      <li class="page-item px-1 ">...</li>
                      <li class="page-item "><a class="page-link " href="# ">11</a></li>
                      <li class="page-item ">
                        <a class="page-link " href="# " aria-label="Next ">
                          <i class="fal fa-chevron-right px-2 "></i>
                        </a>
                      </li>
                      <li class="page-item py-1 go-to-page">Go to page</li>
                      <li class="page-item px-2 "><input type="text " class="form-control-sm border page-box " id="page-no "> </li>
                      <li class="page-item py-1 ms-1 "><a class="blue " href="# ">Go</a></li>
                    </ul>
                   
                  </div> 
      
       </div>
    </div>
  </section>
  <!-- Search Section Ends Here-->


  <!--Footer Section Starts Here-->

  <section class="footer-section border-top ">
    <div class="container ">
      <footer class="row row-cols-5 py-5 my-5 ">
        <div class="col-12 col-sm-12 col-md-4 pb-3 ">
          <a href="/ " class="d-flex align-items-center ">
            <img src="images/footer-logo.png " class="img-fluid mr-3 " alt="Classroom-footer-logo ">
          </a>
        </div>



        <div class="col-12 col-sm-12 col-md-2 pb-3 ">
          <h5 class="border-start ps-4 ">About Us</h5>
          <ul class="nav flex-column footer-links ms-4 mt-3 ">
            <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Who We Are</a></li>
            <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Blog</a></li>

          </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-3 pb-3 ">
          <h5 class="border-start ps-4 ">Support</h5>
          <ul class="nav flex-column footer-links ms-4 mt-3 ">
            <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Help and FAQ</a></li>
            <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Documents and Policies</a></li>
            <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Forms</a></li>
            <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Contact Us</a></li>

          </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-3 ">
          <h5 class="border-start ps-4 ">Keep in Touch</h5>
          <ul class="nav flex-column mt-3 ">
            <li class="nav-item mb-2 ">
              <p>Sign up to get free resources, updates and special offers.</p>
            </li>
            <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark "><button type="button "
                  class="btn-hover btn btn-primary sign-up bg-blue btn-lg px-4 my-2 me-md-2 text-uppercase ">Sign up
                  now</button></a>
                    </li>

                    </ul>
                </div>

                </footer>
            </div>
            <div class="bg-dark text-center ">
                <p class=" text-white py-3 mb-0 ">&copy; 2022 - Classroom Copy. All rights reserved.</p>
            </div>
    </section>

    <!--Footer Section Ends Here-->
    <button type="button" class="btn bg-blue btn-floating btn-lg topbtn" id="toTopBtn">
      <i class="fas fa-arrow-up text-white "></i>
    </button>


    <!-- Separate Popper and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js "></script>
    <script>
        $(document).ready(function() {
            $('.search-clear').click(function(e) {
                $('.search-field-first').val('');

            });
            $('.search-clear-2').click(function(e) {
                $('.search-field-second').val('');

            });
            $('.search-clear-3').click(function(e) {
                $('.search-field-third').val('');

            });
            $('.search-clear-4').click(function(e) {
                $('.search-field-fourth').val('');

            });


            $('.clear-all').click(function(e) {
                $('.search-field-first').val('');
            });
            $('.clear-all').click(function(e) {
                $('.search-field-second').val('');
            });
            $('.clear-all').click(function(e) {
                $('.search-field-third').val('');
            });
            $('.clear-all').click(function(e) {
                $('.search-field-fourth').val('');
            });
        });
    </script>
</body>

</html>