<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classroom | Store Dashboard | Become A Seller | Set Up</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

</head>

<body>
    <!--Header Starts Here-->
    <header>
        <nav class="py-1 top-bar border-bottom ">

            <div class="container navbar navbar-expand-lg py-0 d-flex flex-wrap">
                <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none "><img src="images/logo.png" class="img-fluid mr-3 logo" alt="Classroom-logo"></a>
                <button class="navbar-toggler mytoggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mytoggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse fade" id="navbarsExample09">
                    <ul class="nav top-links ms-auto">
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-heart px-2"></i> Wishlist</a></li>
                        <li class="nav-item"><a href="#" class="nav-link border-start link-light px-3"><i
                  class="fal fa-shopping-cart px-2  position-relative"> <span
                    class="cart-item position-absolute top-25 left-0 translate-middle bg-danger border border-light rounded-circle">1</span></i>
                My Cart</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="images/profile-pic.jpg" class="img-fluid rounded-circle  me-1" alt="profile-pic">
                                <i class='fal fa-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light mt-0 pb-5 pt-0 ">
                                <li class="py-2 mb-3"><a class="dropdown-item blue" href="#"><i
                                    class="fal fa-user px-2"></i> Account</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i
                                    class="fal fa-chevron-right px-2"></i> Account Dashboard</a></li>
                                <li><a class="dropdown-item" href="#"><i
                                    class="fal fa-chevron-right px-2"></i> Store Dashboard</a></li>

                                <li class="nav-item login"><a href="#" class="nav-link bg-blue text-white px-3 btn btn-lg text-uppercase py-2 mx-4 mt-3 fw-bold login-btn">Log out</a></li>

                            </ul>
                        </li>


                    </ul>

                </div>
            </div>
        </nav>
        <div class="container-fluid py-3 mb-3 border-bottom">
            <div class="container middle-search-section pb-2">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                        <ul class="d-flex flex-row justify-content-end menu-links mb-2 mb-lg-0 ">
                            <li class="nav-item"><a href="#" class="nav-link">Become a Seller </a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Gift Cards</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
                        </ul>


                    </div>
                    <div class="col-12 col-sm-12 col-md-5">

                        <form>
                            <div class="search"> <input type="text" class="form-control" placeholder="Search"> <button class="btn-hover"> <i class="fa fa-search"></i></button> </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
        <div class="container-fluid pb-3 d-flex flex-wrap justify-content-center border-bottom">
            <div class="container  bottom-select-section">
                <form class="row g-3 align-items-center">
                    <div class="col-12 col-sm-6 col-md-6  w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Language</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Grade</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Subject</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Price</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Type</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Format</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>

                    <div class="col-auto search-btn">
                        <button type="submit" class="btn text-uppercase btn-hover">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="b-example-divider"></div>
    <!--Header Section Ends Here-->


    <!--Breadcrub Section Starts Here-->
    <section class="breadcrumb-section bg-light-blue pt-2">
        <div class="container py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class='fal fa-home-alt'></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Store Dashboard </li>
                    <li class="breadcrumb-item active" aria-current="page">Become A Seller </li>
                    <li class="breadcrumb-item active" aria-current="page">Set Up </li>

                </ol>
            </nav>
        </div>
    </section>
    <!--Breadcrub Section Ends Here-->
<!-- page title start -->
<section class="inner_page pb-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 mb-2">
                <div class="inner_page_title">
                    <h1>SETUP YOUR ONLINE STORE NOW!</h1>
                </div>
            </div>
            <div class="col-md-12 my-3 my-md-4 ">
                <div class="inner_page_title">
                    <h1>STORE DETAILS</h1>
                </div>
            </div>
            
        </div>                    
        
    </div>
</section>


<!-- page title end  -->
<!-- Book Bin products section start -->
<section class="contribution-main pt-0">
    <div class="container">
        <form class="">
            <div class="row mb-4 align-items-center ">
                <div class="col-md-4 col-12">
                <div class="labels">
                    <p>Choose a name for your store:</p>
                </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="profile-txt ">
                                <input type="text" class="form-custom-input" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 text-end">
                            <button type="button" class="btn btn-primary bg-blue btn-lg px-4 py-2  btn-hover text-uppercase custom-btn">Check availability</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 align-items-top ">
                <div class="col-md-4 col-12">
                <div class="labels">
                    <p>Upload your store logo:</p>
                    <span>Supported File Types: .bmp, .gif, .jpg,<br>
                        jpeg, .png, .tif, .tiff
                         Max File Size: 5Mb</span>
                </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="profile-txt ">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="profile-txt ">
                                    <input type="text" class="form-custom-input" placeholder="Select file from computer">
                                </div>
                            </div>
                            <div class="col-md-4 text-end">
                                <button type="button" class="btn btn-primary bg-blue btn-lg px-4 py-2  btn-hover text-uppercase custom-btn">Upload</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="store-img mt-5">
                        <div class="drop-zone">
                            <h4 class="drop-zone__prompt">Store Logo 
                                <small> 'Drag File Here' <br>
                                    250x200px</small></h4>
                            <input type="file" name="myFile" class="drop-zone__input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 align-items-top ">
                <div class="col-md-4 col-12">
                <div class="labels">
                    <p>Upload your store banner</p>
                    <span>Supported File Types: .bmp, .gif, .jpg,<br>
                        jpeg, .png, .tif, .tiff
                         Max File Size: 5Mb</span>
                </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="profile-txt ">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="profile-txt ">
                                    <input type="text" class="form-custom-input" placeholder="Select file from computer">
                                </div>
                            </div>
                            <div class="col-md-4 text-end">
                                <button type="button" class="btn btn-primary bg-blue btn-lg px-4 py-2  btn-hover text-uppercase custom-btn">Upload</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="store-img-1 mt-5">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="drop-zone">
                                    <h4 class="drop-zone__prompt">Store Banner 
                                        <small> 'Drag File Here' <br>
                                            750x200px</small></h4>
                                    <input type="file" name="myFile" class="drop-zone__input">
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
           
             <div class="row mb-4 mt-5">
                <div class="col-md-4 col-12">
                </div>
                <div class="col-md-8 col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            I hereby confirm that I have accessed, read and agree to the <a href="#">Privacy Policy</a> , <a href="#">Intellectual Property Policy</a> 
                            and <a href="#">Sellers Agreement</a>.
                        </label>
                      </div>
                </div>
               
            </div>

            <div class="row text-center mt-5">
                <div class="col-12">
                    <button type="button" class="btn btn-primary bg-blue btn-lg px-5 py-3  btn-hover text-uppercase">Set up now</button>
                </div>
            </div>
        </form>
        <div class="row text-center mt-5">
            <div class="col-12">
                <div class="congratualtion-box">
                    <h5 class="mb-0 mb-md-4">congratulations!</h5>
                    <a href="#">VIEW YOUR STORE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- book bin products section end  -->
    <!--Footer Section Starts Here-->

    <section class="footer-section">
        <div class="container">
            <footer class="row row-cols-5 py-5 my-5">
                <div class="col-12 col-sm-12 col-md-4 pb-3">
                    <a href="index.html" class="d-flex align-items-center">
                        <img src="images/footer-logo.png" class="img-fluid mr-3" alt="Classroom-footer-logo">
                    </a>
                </div>



                <div class="col-12 col-sm-12 col-md-2 pb-3">
                    <h5 class="border-start ps-4">About Us</h5>
                    <ul class="nav flex-column footer-links ms-4 mt-3">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Who We Are</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Blog</a></li>

                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-3 pb-3">
                    <h5 class="border-start ps-4">Support</h5>
                    <ul class="nav flex-column footer-links ms-4 mt-3">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Help and FAQ</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Documents and Policies</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Forms</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Contact Us</a></li>

                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-3">
                    <h5 class="border-start ps-4">Keep in Touch</h5>
                    <ul class="nav flex-column mt-3">
                        <li class="nav-item mb-2">
                            <p>Sign up to get free resources, updates and special offers.</p>
                        </li>
                        <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-dark"><button type="button"
                  class="btn-hover btn btn-primary sign-up bg-blue btn-lg px-4 my-2 me-md-2 text-uppercase">Sign up
                  now</button></a>
                        </li>

                    </ul>
                </div>

            </footer>
        </div>
        <div class="bg-dark text-center">
            <p class=" text-white py-3 mb-0">&copy; 2022 - Classroom Copy. All rights reserved.</p>
        </div>
    </section>

    <!--Footer Section Ends Here-->
    <button type="button" class="btn bg-blue btn-floating btn-lg topbtn" id="toTopBtn">
      <i class="fas fa-arrow-up text-white"></i>
    </button>


    <!-- Separate Popper and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
 <script src="js/dropzone.js"></script>
</body>

</html>