<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classroom Copy | Terms And Conditions</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

</head>

<body>
    <!--Header Starts Here-->
    <header>
        <nav class="py-1 top-bar border-bottom ">

            <div class="container navbar navbar-expand-lg py-0 d-flex flex-wrap">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none "><img src="images/logo.png" class="img-fluid mr-3 logo" alt="Classroom-logo"></a>
                <button class="navbar-toggler mytoggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mytoggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse fade" id="navbarsExample09">
                    <ul class="nav top-links ms-auto">
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-heart px-2"></i> Wishlist</a></li>
                        <li class="nav-item"><a href="#" class="nav-link border-start link-light px-3"><i
                  class="fal fa-shopping-cart px-2  position-relative"> <span
                    class="cart-item position-absolute top-25 left-0 translate-middle bg-danger border border-light rounded-circle">1</span></i>
                My Cart</a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link link-light border-start px-3"><i
                  class="fal fa-user px-2"></i>Join Us - Free</a></li>

                    </ul>
                    <ul class="nav login">
                        <li class="nav-item"><a href="#" class="nav-link link blue px-3 btn btn-light text-uppercase py-1 my-1 fw-bold login-btn">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid py-3 mb-3 border-bottom">
            <div class="container middle-search-section pb-2">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                        <ul class="d-flex flex-row justify-content-end menu-links mb-2 mb-lg-0 ">
                            <li class="nav-item"><a href="#" class="nav-link">Become a Seller </a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Gift Cards</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
                        </ul>


                    </div>
                    <div class="col-12 col-sm-12 col-md-5">

                        <form>
                            <div class="search"> <input type="text" class="form-control" placeholder="Search"> <button class="btn-hover"> <i class="fa fa-search"></i></button> </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
        <div class="container-fluid pb-3 d-flex flex-wrap justify-content-center border-bottom">
            <div class="container  bottom-select-section">
                <form class="row g-3 align-items-center">
                    <div class="col-12 col-sm-6 col-md-6  w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Language</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Grade</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Subject</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Price</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Type</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 w-200">
                        <select class="form-select" id="inlineFormSelectPref">
              <option selected>Format</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>

                    <div class="col-auto search-btn">
                        <button type="submit" class="btn text-uppercase btn-hover">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="b-example-divider"></div>
    <!--Header Section Ends Here-->


    <!--Breadcrub Section Starts Here-->
    <section class="breadcrumb-section bg-light-blue pt-2">
        <div class="container py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="index.html"><i class='fal fa-home-alt'></i> Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">Documents And Policies</li>
                    <li class="breadcrumb-item" aria-current="page">Terms And Conditions</li>

                </ol>
            </nav>
        </div>

    </section>
    <!--Breadcrub Section Ends Here-->

    <!--Terms And Conditions Section Starts Here-->
    <section class="intellectual-property-section terms-conditions-section py-5">
        <div class="container">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="text-uppercase pt-0 pb-3">Terms And Conditions</h1>
                <h5>Last updated: 21 March 2022</h5><br>
                <p>Welcome to Classoomcopy.com. Classroom Copy Pty Ltd provide website features and other products and services to you when you visit or shop at Classrooomcopy.com, use Classroom Copy products or services, use Classroom Copy applications
                    for mobile, or use software provided by Classroom Copy in connection with any of the foregoing (collectively, "Classroom Copy Services"). By using the Classroom Copy Services, you agree, on behalf of yourself and all members of your
                    household and others who use any Service under your account, to the following conditions.</p><br>

                <h5>Please read these conditions carefully</h5><br>
                <p>We offer a wide range of Classroom Copy Services, and sometimes additional terms may apply. When you use a Classroom Copy Service (for example, Your Profile, Gift Cards, Your Media Library or Classroom Copy applications) you also will
                    be subject to the guidelines, terms, and agreements applicable to that Classroom Copy Services ("Service Terms"). If these Conditions of Use are inconsistent with the Service Terms, those Service Terms will control.
                </p><br>

                <h5>PRIVACY</h5>
                <p>Please review our <a href="privacy-policy.html">Privacy Policy,</a> which also governs your use of Classroom Copy Services, to understand our practices.</p><br>

                <h5>ELECTRONIC COMMUNICATIONS</h5>
                <p>When you use Classroom Copy Services, or send e-mails, text messages, and other communications from your desktop or mobile device to us, you may be communicating with us electronically. You consent to receive communications from us electronically,
                    such as e-mails, texts, mobile push notices, or notices and messages on this site or through the other Classroom Copy Services and you can retain copies of these communications for your records. You agree that all agreements, notices,
                    disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
                </p><br>

                <h5>COPYRIGHT</h5>
                <p>All content included in or made available through any Classroom Copy Services, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software is the property of Classroom Copy or its
                    content suppliers and protected by Australian, United States and international copyright laws. The compilation of all content included in or made available through any Classroom Copy Services is the exclusive property of Classroom
                    Copy Pty Ltd and protected by Australian and international copyright laws.
                </p><br>

                <h5>TRADEMARKS </h5>
                <p>In addition, graphics, logos, page headers, button icons, scripts, and service names included in or made available through any Classroom Copy Services are trademarks or trade dress of Classroom Copy Pty Ltd in Australia and other countries.
                    Classroom Copy's trademarks and trade dress may not be used in connection with any product or service that is not Classroom Copy's, in any manner that is likely to cause confusion among customers, or in any manner that disparages or
                    discredits Classroom Copy. All other trademarks not owned by Classroom Copy that appear in any Classroom Copy Service are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by
                    Classroom Copy.

                </p><br>

                <h5>LICENSE AND ACCESS </h5>
                <p>Subject to your compliance with these Conditions of Use and any Service Terms, and your payment of any applicable fees, Classroom Copy or its content providers grant you a limited, non-exclusive, non-transferable, non-sublicensable license
                    to access and make personal and non-commercial use of the Classroom Copy Services. This license does not include any resale or commercial use of any Classroom Copy Services, or its contents; any collection and use of any product listings,
                    descriptions, or prices; any derivative use of any Classroom Copy Services or its contents; any downloading, copying, or other use of account information for the benefit of any third party; or any use of data mining, robots, or similar
                    data gathering and extraction tools. All rights not expressly granted to you in these Conditions of Use, or any Service Terms are reserved and retained by Classroom Copy, or its licensors, suppliers, publishers, rightsholders, or other
                    content providers. No Classroom Copy Services, nor any part of any Classroom Copy Services, may be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent
                    of Classroom Copy Pty Ltd. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Classroom Copy without express written consent.
                    You may not use any meta tags or any other "hidden text" utilizing Classrom Copy's name or trademarks without the express written consent of Classroom Copy Pty Ltd. You may not misuse the Classroom Copy Services. You may use the Classroom
                    Copy Services only as permitted by law. The licenses granted by Classroom Copy terminate if you do not comply with these Conditions of Use or any Service Terms.

                </p><br>
                <h5>YOUR ACCOUNT</h5>
                <p>You may need your own Classroom Copy account to use certain Classroom Copy Services, and you may be required to be logged in to the account and have a valid payment method associated with it. You are responsible for maintaining the confidentiality
                    of your account and password and for restricting access to your account, and you agree to accept responsibility for all activities that occur under your account or password. If you are under 18, you may use the Classroom Copy Services
                    only with involvement of a parent or guardian. Classroom Copy reserves the right to refuse service, terminate accounts, terminate your rights to use Classroom Copy Services, remove or edit content, or cancel orders in its sole discretion.

                </p><br>

                <h5>PAYMENTS </h5>
                <p>Classroom Copy uses the Stripe third party payment gateway for some financial services on our Services. When you link your Stripe account to your Classroom Copy Account, you can use your Stripe account to pay or be paid for products purchased
                    or sold through your Classroom Copy account while using Classroom Copy Services. You acknowledge and agree that by utilising any third-party services through Classroom Copy Services (such as Stripe), you are bound by the terms and
                    conditions of that third-party and we are not liable for any loss, claims or damages howsoever arising in connection with that third party’s services.</p>

                <p> If you to link your Stripe account to your Classroom Copy Account, you appoint Classroom Copy as your limited agent to:<br>
                    <p> a. provide to Stripe your name, address, payment amount, item details, item category, and all other information required by Stripe to enable Stripe to process payments to or from your Stripe account; and</p>
                    <p> b. receive payment confirmation and decline notices from Stripe in respect of your Stripe payment transactions. </p>

                    <p> When you link your Stripe account to your Classroom Copy Account, we accept our appointment as your limited agent to undertake those activities specified in the paragraph above. Our appointment as your agent to undertake these activities
                        terminates immediately upon your Classroom Copy Account ceasing to be linked to your Stripe account. </p>
                    <p> If you have a dispute with Stripe, a buyer, or a seller, that does not arise directly as a result of an error by Classroom Copy, in respect of any payment transacted (or failed to be transacted) on your Stripe Account, you release
                        us and our affiliates (and our officers, directors, agents, subsidiaries, joint ventures and employees and those of our affiliates) from any and all claims demands and damages (actual and consequential) of every kind and nature,
                        known or unknown, arising out of or in any way connected with such disputes. </p>
                    <p> Stripe's terms and conditions apply to your use of Stripe when you access Stripe’s services from our Services, and you must agree to Stripe’s terms and conditions in order to use the Stripe’s services.

                    </p><br>
                    <h5>REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT</h5>
                    <p>You may post reviews, comments, photos, videos, and other content; send other communications; and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory,
                        invasive of privacy, infringing of intellectual property rights (including publicity rights), or otherwise injurious to third parties or objectionable, and does not consist of or contain software viruses, political campaigning,
                        commercial solicitation, chain letters, mass mailings, or any form of "spam" or unsolicited commercial electronic messages. You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the
                        origin of a card or other content. Classroom Copy reserves the right (but not the obligation) to remove or edit such content but does not regularly review posted content.</p>
                    <p> If you do post content or submit material, and unless we indicate otherwise, you grant Classroom Copy a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, perform,
                        translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant Classroom Copy and sublicensees the right to use the name that you submit in connection with such content
                        if they choose. You represent and warrant that you own or otherwise control all of the rights to the content that you post; that the content is accurate; that use of the content you supply does not violate this policy and will
                        not cause injury to any person or entity; and that you will indemnify Classroom Copy for all claims resulting from content you supply. Classroom Copy has the right but not the obligation to monitor and edit or remove any activity
                        or content. Classroom Copy takes no responsibility and assumes no liability for any content posted by you or any third party.

                    </p><br>
                    <h5>INTELLECTUAL PROPERTY COMPLAINTS</h5>
                    <p>Classroom Copy respects the intellectual property of others. If you believe that your intellectual property rights have been infringed, please submit your complaint using our online form. This form may be used to report all types of
                        intellectual property claims including, but not limited to, copyright and trademark claims. We respond quickly to the concerns of rights owners about any alleged infringement, and we terminate repeat infringers in appropriate circumstances.</p><br>

                    <p>We offer the following alternative to our online form for copyright complaints only. You may submit written claims of copyright infringement to our Copyright Department at:</p>
                    <p> Copyright Department Classroom Copy Pty Ltd<br> P.O. Box TBA <br> Southport, Queensland 4215<br> Australia
                        <br> e-mail: <a href="mailto:copyright@classromcopy.com" class="blue fw-bold">copyright@classromcopy.com</a></p> <br>
                    <p> Written claims concerning copyright infringement must include the following information:
                    </p>
                    <ul>
                        <li>A physical or electronic signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
                        <li>A description of the copyrighted work that you claim has been infringed upon; </li>
                        <li>A description of where the material that you claim is infringing is located on the site;</li>
                        <li>Your address, telephone number, and e-mail address;</li>
                        <li>A statement by you that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
                        <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
                        </li>
                    </ul><br>

                    <h5>REFUNDS </h5>
                    <p>All resources purchased through Classroom Copy are delivered electronically. Unlike other types of purchases, once a file has been downloaded or accessed it is not able to be returned. For that reason, all sales on Classroom Copy are
                        considered final and non-refundable except in limited circumstances. For more information about refunds, please refer to our <a href="#" class="blue">Refund Policy.</a>
                    </p><br>

                    <h5>PRODUCT DESCRIPTIONS </h5>
                    <p>Classroom Copy attempts to be as accurate as possible. However, Classroom Copy does not warrant that product descriptions or other content of any Classroom Copy Services is accurate, complete, reliable, current, or error-free. If a
                        product offered by Classroom Copy itself is not as described, your sole remedy is to contact us advising of any issues and apply for a refund where applicable.
                    </p><br>

                    <h5>PRICING </h5>
                    <p>"Price" means the suggested retail price of a product as provided by a seller. Certain products may have a “Sale Price" displayed, which is determined using recent price history of the product on Classroom Copy.
                    </p><br>

                    <h5>APP PERMISSIONS
                    </h5>
                    <p>When you use apps created by Classroom Copy, such as the Classroom Copy App, you may grant certain permissions to us for your device. Most mobile devices provide you with information about these permissions.
                    </p><br>

                    <h5>OTHER BUSINESSES</h5>
                    <p>When you use apps created by Classroom Copy, such as the Classroom Copy App, you may grant certain permissions to us for your device. Most mobile devices provide you with information about these permissions.
                    </p><br>

                    <h5>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</h5>
                    <p>The Classroom Copy Services and all information, content, materials, products (including software) and other services included on or otherwise made available to you through the Classroom Copy Services are provided by Classroom Copy
                        on an "as is" and "as available" basis, unless otherwise specified in writing. Classroom Copy makes no representations or warranties of any kind, express or implied, as to the operation of the Classroom Copy Services, or the information,
                        content, materials, products (including software) or other services included on or otherwise made available to you through the Classroom Copy Services, unless otherwise specified in writing. You expressly agree that your use of
                        the Classroom Copy Services is at your sole risk.</p>

                    <p> To the full extent permissible by law, Classroom Copy does not warrant that the Classroom Copy Services, information, content, materials, products (including software) or other services included on or otherwise made available to you
                        through the Classroom Copy Services, Classroom Copy's servers or electronic communications sent from Classroom Copy are free of viruses or other harmful components. To the full extent permissible by law, Classroom Copy will not
                        be liable for any damages of any kind arising from the use of any Classroom Copy Service, or from any information, content, materials, products (including software) or other services included on or otherwise made available to you
                        through any Classroom Copy Services, including, but not limited to direct, indirect, incidental, punitive, and consequential damages, unless otherwise specified in writing.

                    </p><br>

                    <h5>DISPUTES</h5>
                    <p>Any dispute or claim relating in any way to your use of any Classroom Copy Services will be adjudicated in the state or Federal courts in Queensland, Australia, and you consent to exclusive jurisdiction and venue in these courts.
                    </p><br>

                    <h5>APPLICABLE LAW </h5>
                    <p>By using any Classroom Copy Service, you agree that applicable federal law, and the laws of the state of Queensland, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort
                        that might arise between you and Classroom Copy.

                    </p><br>
                    <h5>SITE POLICIES, MODIFICATION, AND SEVERABILITY </h5>
                    <p>Please regularly review our other policies posted on this site. These policies also govern your use of Classroom Copy Services. We reserve the right to make changes to our site, policies, Service Terms, and these Conditions of Use
                        at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</p><br>
                    <h5>OUR ADDRESS</h5>
                    <p>Classroom Copy Pty Ltd<br> P.O. Box TBA<br> Southport, QLD 4215<br> Australia
                        <br>
                        <a href="#" class="blue fw-bold">https://www.classroom.com</a>

                    </p><br>
                    <h5>ADDITIONAL CLASSROOM COPY SOFTWARE TERMS</h5>
                    <p>The following terms (“Software Terms”) apply to any software (including any updates or upgrades to the software) and any related documentation we make available to you in connection with Classroom Copy Services (the "Classroom Copy
                        Software").
                    </p>
                    <ul class="ps-3">
                        <li>Use of the Classroom Copy Software. You may use Classroom Copy Software solely for purposes of enabling you to use the Classroom Copy Services as provided by Classroom Copy, and as permitted by these Conditions of Use and any Service
                            Terms. You may not incorporate any portion of the Classroom Copy Software into other programs or compile any portion of it in combination with other programs, or otherwise copy (except to exercise rights granted in this section),
                            modify, create derivative works of, distribute, assign any rights to, or license the Classroom Copy Software in whole or in part. All software used in any Classroom Copy Services is the property of Classroom Copy or its software
                            suppliers and is protected by international copyright laws.</li>
                        <li>Use of Third-Party Services. When you use the Classroom Copy Software, you may also be using the services of one or more third parties, such as a wireless carrier or a mobile software provider. Your use of these third-party services
                            may be subject to the separate policies, terms of use, and fees of these third parties.</li>
                        <li>No Reverse Engineering. You may not reverse engineer, decompile or disassemble, tamper with, or bypass any security associated with the Classroom Copy Software, whether in whole or in part.</li>
                        <li>Updates. We may offer automatic or manual updates to the Classroom Copy Software at any time and without notice to you.</li>
                        <li>Conflicts. In the event of any conflict between these Conditions of Use and any other Classroom Copy or third-party terms applicable to any portion of Classroom Copy Software, such as open-source license terms, such other terms
                            will control as to that portion of the Classroom Copy Software and to the extent of the conflict.</li>



                    </ul>






            </div>

        </div>
    </section>

    <!--Terms And Conditions Section Ends Here-->


    <!--Footer Section Starts Here-->

    <section class="footer-section border-top ">
        <div class="container ">
            <footer class="row row-cols-5 py-5 my-5 ">
                <div class="col-12 col-sm-12 col-md-4 pb-3 ">
                    <a href="index.html " class="d-flex align-items-center ">
                        <img src="images/footer-logo.png " class="img-fluid mr-3 " alt="Classroom-footer-logo ">
                    </a>
                </div>



                <div class="col-12 col-sm-12 col-md-2 pb-3 ">
                    <h5 class="border-start ps-4 ">About Us</h5>
                    <ul class="nav flex-column footer-links ms-4 mt-3 ">
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Who We Are</a></li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Blog</a></li>

                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-3 pb-3 ">
                    <h5 class="border-start ps-4 ">Support</h5>
                    <ul class="nav flex-column footer-links ms-4 mt-3 ">
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Help and FAQ</a></li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Documents and Policies</a></li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Forms</a></li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark ">Contact Us</a></li>

                    </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-3 ">
                    <h5 class="border-start ps-4 ">Keep in Touch</h5>
                    <ul class="nav flex-column mt-3 ">
                        <li class="nav-item mb-2 ">
                            <p>Sign up to get free resources, updates and special offers.</p>
                        </li>
                        <li class="nav-item mb-2 "><a href="# " class="nav-link p-0 text-dark "><button type="button "
                  class="btn-hover btn btn-primary sign-up bg-blue btn-lg px-4 my-2 me-md-2 text-uppercase ">Sign up
                  now</button></a>
                        </li>

                    </ul>
                </div>

            </footer>
        </div>
        <div class="bg-dark text-center ">
            <p class=" text-white py-3 mb-0 ">&copy; 2022 - Classroom Copy. All rights reserved.</p>
        </div>
    </section>

    <!--Footer Section Ends Here-->



    <!-- Separate Popper and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>

</body>

</html>